

*{
  box-sizing: border-box;
  font-family: Helvetica, Sans-Serif;
}

body{
   width:100%;
   margin:0;
}

img {
  display: block;
  width: 100%;
}

.header_title{
    color: white; 
    font: bold 45px/45px Helvetica, Sans-Serif; 
    letter-spacing: 16px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    float: right;
    margin-top: 62px;
    margin-right: 92px;
}

.header_img {
    background-image: url('./images/lightsphoto.jpeg');
    height: 150px;
    width: 100%;
    background-size: contain;
    border: 2px groove darkgray;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px / 50px;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;

}

.app_container{
    background-image: url('./images/pexels.jpeg');
    background-position: center;
    background-size: cover;
    border: 2px groove darkgray;
    position: relative;
    height: 150vh;  
    padding-top: 200px;
}

.forms {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;


}

/*form {
    display:flex;
    height:38px;
    width:32%;
    color:black;
    list-style-type: none;
}*/

/*#id {
    background-color: #9F6B39;
    border: none;
    color: white;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}*/

/*#todoInput {
    width: 100%;
    background-color: white;
}*/

/*.todoList{
    display:flex;
    font: bold 45px/45px Helvetica, Sans-Serif;
    color:white;
    list-style-type: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 74px;
}*/




/*.completed{
    display:flex;
    width:32%;
    color:white;
    list-style-type: none;
    text-decoration: line-through;
    background: rgba(0, 0, 0, 0.7);
}*/







@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


