

*{
  box-sizing: border-box;
  font-family: 'Londrina Shadow', cursive;
  background-color: #6186A1;
}

body{
    height: 100vh;
    padding: 20px;
}

img {
  display: block;
  width: 100%;
}

.header_title{
    display: flex;
    align-items: center;
    position: absolute; 
    top: 270px;
    left: 919px;
}

.header_title span{
    color: white; 
    font: bold 45px/45px Helvetica, Sans-Serif; 
    letter-spacing: 16px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

.header_img {
    background-image: url('./images/lightsphoto.jpeg');
    height: 400px;
    width: 100%;
    background-size: contain;
    border: 2px groove darkgray;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px / 50px;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.app_container{
    display: flex;
    justify-content: space-around;
    background-image: url('./images/notes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    align-items: center;  
    border-radius: 100px / 50px; 
}

form {
    display:flex;
    width:32%;
    color:black;
    list-style-type: none;
}

#id {
    background-color: #9F6B39;
    border: none;
    color: white;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#todoInput {
    width: 100%;
    background-color: white;
}

.todoList{
    display:flex;
    width:32%;
    height: 348px;
    border-radius: 70%;
    font: bold 45px/45px Helvetica, Sans-Serif;
    color:white;
    list-style-type: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(0, 0, 0, 0.7);
}

.fa fa-pencil {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    filter: invert();
}

ul style {
   height: 0px;
}

span{
    height: 0px;
}
.completed{
    display:flex;
    width:32%;
    color:white;
    list-style-type: none;
    text-decoration: line-through;
    background: rgba(0, 0, 0, 0.7);
}







@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


